body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  height: 35rem;
  width: 25rem;
  position: relative;
}

.card-img {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

img {
  object-fit: cover;
  width: 100%;
}

.card-footer {
  width: 100%;
  text-align: center;
  background: white;
  padding: 9px;
}

.barra {
  width: 100%;
  height: 30px;
  margin: 10px 0;
}

.success {
  color: black;
  display: none;
}
